.editModal {
  .ant-modal-content {
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
      0 4px 8px 3px rgba(60, 64, 67, 0.149);
  }
  .ant-modal-body {
    padding-bottom: 1px;
  }
}
